version: '{build}'
# Build worker image (VM template)
image: Visual Studio 2019
environment:
  HUBSPOT_API_KEY:
    secure: nEkpqjqVe4G73k8gkmpYndR8GGQdK58k98IxzWwoZS4Rvq+bTOR9Yok2ISgjjNWr
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
nuget:  
  disable_publish_on_pr: true
build_script:
- ps: .\Build.ps1
test: off
artifacts:
- path: '**\*.nupkg'
  name: NuGet
deploy:
- provider: NuGet
  name: production
  api_key:
    secure: 1e1pWUo3c882w+CBl/jNKZnaxgQ+RslW6SVsWIsTZ69EeugcL432TuHRqtA/ljsm
  skip_symbols: true
  on:
    appveyor_repo_tag: true